.hot-deals {
  padding-top: 40px;

  h3{
    text-transform: uppercase;
    font-size: 30px;
    color: $greenActive;
    text-align: left;
    font-weight: bold;
  }

  .car-deal {
    text-align: center;
    padding-top:  10px;
    padding-bottom: 10px;
    width: 85%;
    margin: 0 auto;
    .discount {
      color: $red-ee;

      .discount-title {
        @include fontFamily($uniformUltra);
        font-size: 4rem;
        margin-bottom: 0;
        line-height: 1em;
        @media screen and (min-width: $sm) {
          font-size: 5rem;
        }
      }
    }

    // img {
    //   margin: auto;
    // }
    .wrap-btn{
      width: 70%;
      margin: 0 auto;
      position: relative;
      bottom: -30px;
    }
  }
}

.car-deal-title{
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  color: #455b64;
  margin: 0;
  text-align: left;
}

.car-deal-price{
  font-size: 30px;
  line-height: 30px;
  color: #03a9f4;
  margin: 0;
  text-align: left;
}

.link-category{
  cursor: pointer;
  z-index: 1;
  font-size: 20px;
  color: $greenLight;
  text-transform: capitalize;
  &.active{
    color: $greenActive;
  }
  + .link-category{
    margin-left: 35px;
  }
}

.list-items-category{
  padding-top: 50px;
}

.list-category-line{
  padding-top: 20px;
  position: relative;
  &:after{
    bottom: 0;
    left: 0;
    position: absolute;
    height: 5px;
    content: '';
    background: $gray;
    width: 15%;
  }

  hr{
    height: 1px;
    background-color:  $gray;
  }
}

.car-deal-img{
  margin: 30px auto 20px;
}

.bg-slider{
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(189,204,212,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(189,204,212,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(189,204,212,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(189,204,212,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(189,204,212,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(189,204,212,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bdccd4', GradientType=0 );
}