.page-internal {
  .main-header {

    .logo-trac {
      background-position: bottom;

      @media screen and (min-width: $sm) {
        width: 159px;
        height: 64px;
      }
    }

    &.isMenuOpen {
      background-color: rgba(255,255,255,0.8);
      .lang-selector {
        color: $white;
        button {
          color: $white;
        }
      }
    }

    //Lang
    .lang-selector {
      color: $gray-58;

      button {
        color: $gray-58;

        &.active {
          color: $red-ee;
        }
      }
    }
  }

  @function getRandomBackground($number) {
    @return url(#{$imgPath}slider/slide-#{$number}.jpg);
  }

  .internal-banner {
    display: none;
    background-image: getRandomBackground(random(1));
    background-size: cover;
    background-position: center;
    @media screen and (min-width: $sm) {
      display: block;
      margin-top: 204px;

      .widget-book {
        background-color: rgba(66,188,81,0.8);
      }
    }
  }

  .section-header {
    height: 70px;
    margin-top: 100px;

    @media screen and (min-width: $sm) {
      margin: 0 auto;
      height: 100px;
      display: table;
      width: 60%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;

      .container {
        max-width: 55%;
        display: table-cell;
        vertical-align: middle;
        margin-bottom: 0;
      }
    }
    .section-title {
      text-align: center;
      padding: 0;
      color: $green-42;
      margin: 0;

      h1 {
        font-size: 3rem;
        font-family: 'UniformBold', sans-serif;
        @media screen and (min-width: $sm) {
          font-size: 4.8rem;
          line-height: 4.5rem;
        }
      }
    }
  }

  .widget-book {
    position: relative;
  }

  h2, h3 {
    color: $green-42;
    margin: 10px 0;
  }

  h2 {
    font-size: 3rem;
    margin-bottom: 30px;
    @media screen and (min-width: $sm) {
      font-size: 5rem;
      margin-bottom: 50px;
    }
  }

  h3 {
    font-size: 2rem;
    font-family: 'UniformBold', sans-serif;
    @media screen and (min-width: $sm) {
      font-size: 2rem;
    }
  }

  .form-container {
    padding: 0;

    @media screen and (min-width: $sm) {
      padding: 50px 0;
    }

    input[type="text"],
    input[type="email"],
    textarea,
    .rw-dropdownlist {
      border: 1px solid $green-42;

    }
    .rw-dropdownlist {
      padding-bottom: 5px;
      padding-top: 5px;
    }

    input, .rw-dropdownlist {
      margin-bottom: 20px;
    }

    .btn {
      margin: 20px 0;
    }

    .recaptcha-container {
      padding-top: 20px;
      & > div > div {
        margin: auto;
      }
    }
  }

  .main-section {
    @media screen and (min-width: $sm) {
      padding: 50px 0 100px;
    }
  }
  
  .booking {
    margin-top: 205px;
    .section-header {
      display: none;
    }
    .main-content {
      padding-top: 30px;
      padding-bottom: 30px;
      border-bottom: 5px solid $green-42;
      @media screen and (min-width: $sm) {
        padding-bottom: 50px;
      }
    }
  }

}

// Envision
.envision{
  .main-section{
    padding: 100px 0 0 0;
  }
  @media screen and (min-width: $sm) {
    .main-section{
      padding: 0 40px;
    }    
  }  
}

.space-envision{
  padding-top: 40px;
  h4{
    font-size: 3.0rem !important; 
  }

  @media screen and (min-width: $sm) {
    position: absolute;
    bottom: 140px;
    right: 40px;
    z-index: 3234234234234;  
  }
}

.titleEnvisionMovil{
  margin-top: 5px;
}

.titleEnvisionDesktop{
  display: none;
}

@media screen and (min-width: $sm) {
  .landing.envision{
    .main-section{
      background-attachment: fixed;
    }
  }
  .titleEnvisionMovil{
    display: none;
  }

  .titleEnvisionDesktop{
    display: block;
  }  
}



