.menu-internal {
  padding: 0;
  min-height: 5px;
  background: $green-42;
  text-align: center;
  width: 100%;
  display: none;

  @media screen and (min-width: $sm) {
    display: block;
    position: absolute;
    top: 0;
    z-index: 1;
  }

  &.fixed {
    position: fixed;
    z-index: 1;
    top: 0;
  }

  a, a:hover, a:visited {
    color: $white;
    font-size: 1.0rem;
    padding: 12px;
    display: inline-block;

    @media screen and (min-width: 500px) {
      font-size: 1.5rem;
    }

    &.active {
      background: $red-ee;
      font-family: 'UniformBold', sans-serif;
    }
  }

  a:hover {
    @media screen and (min-width: $sm) {
      background: $red-ee;
    }

  }

  button, button:focus, button:visited {
    background: transparent;
    text-decoration: none;
    color: $white;
    font-size: 10px;

    @media screen and (min-width: 500px) {
      font-size: 15px;
    }
  }
  button:hover {
    color: $red-ee;
    background: transparent;
    text-decoration: none;
  }


  ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      border-left: 1px solid $white;

      &:first-child {
        border-left: 0;
      }

    }
  }

}