.top-destinations {
  padding: 7rem 0 5rem;
  
  .great-deal-item {
    text-align: center;

    p {
      color: $green-42;
      font-size: 1.8rem;
    }

    &:hover {
      p {
        color: $red-ee;
      }
    }

    figure {
      position: relative;
      margin-bottom: 15px;

      div {
        position: relative;

        &:before {
          content: '';
          background-color: #000;
          border-radius: 100%;
          height: 200px;
          left: 50%;
          opacity: 0.6;
          position: absolute;
          top: 0;
          transform: translateX(-50%);
          width: 200px;
  
          @media screen and (min-width: 992px) {
            height: 125px;
            width: 125px;
          }

        }
      }

      img {
        width: 200px;
        height: 200px;
        margin: auto;

        @media screen and (min-width: 992px) {
          height: 125px;
          width: 125px;
        }
      }

      figcaption {
        @include fontFamily($uniformBold);
        align-items: center;
        bottom: 0;
        color: $white;
        display: flex;
        font-size: 15px;
        font-weight: bold;
        height: 60px;
        justify-content: center;
        margin: auto;
        padding: 0 2rem;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;

        span {
          @include fontFamily($uniformUltra);
          font-size: 3rem;
          display: block;
          line-height: 1em;
          @media screen and (min-width: $sm) {
            font-size: 5rem;
          }
        }
      }
    }

  }

  .section-title {
    color: #1b5e20;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  .section-subtitle {
    font-size: 18px;
    max-width: 550px;
    margin: 0 auto 4rem;
    text-align: center;
  }
}