.widget-book {
  
  // left: 0;
  
  // width: 80%;
  background-color: rgba($greenActive, 1);
  color: $white;
  // padding-top: 185px;
  // padding-bottom: 20px;
  padding: 50px 15px 20px;
  z-index: 1;
  .spaceMovil{
    margin-top: 15px;
  }
  .removeP{
    padding-left: 0;
    padding-right: 0;
  }
  @media screen and (min-width: $sm) {
    padding: 2% 3%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background-color: rgba($greenActive, .65);
    .spaceMovil{
      margin-top: 0;
    }
    .removeP{
      padding-left: 15px;
      padding-right: 15px;
    }
    // padding-top: 20px;
    // position: absolute;
  }

  // &:before {
  //   content: '';
  //   display: block;
  //   width: 20px;
  //   height: 20px;
  //   background: red;
  //   position: absolute;
  //   left: -20px;
  //   top: 5px;

  // }

  .btn {
    height: 40px;
    line-height: 1.5em;
  }

  .widget-container {
    width: 100%;
    @media screen and (min-width: $sm) {
      display: table;
    }

    .col {
      @media screen and (min-width: $sm) {
        display: table-cell;
        vertical-align: top;
      }

      &.title-container {
        vertical-align: middle;
      }
    }

    .title-container {
      font-size: 3rem;
      line-height: 1em;
      width: 100%;
      margin-bottom: 20px;

      @media screen and (min-width: $sm) {
        font-size: 4rem;
        margin-bottom: 0;
      }

      @media screen and (min-width: $lg) {
        font-size: 4.6rem;
      }

      strong {
        font-size: 4.3rem;
        display: block;

        @media screen and (min-width: $lg) {
          font-size: 5.4rem;
        }
      }

      p {
        margin: 0;
      }

      @media screen and (min-width: $sm) {
        width: 30%;
      }
    }
    .reserve-container {
      width: 100%;
      @media screen and (min-width: $sm) {
        width: 15%;
        padding: 0 1%;
      }
    }
    .location-selectors {
      @media screen and (min-width: $sm) {
        width: 25%;
      }
      .selector {
        display: inline-block;
        padding: 0 1%;
        width: 100%;

        @media screen and (min-width: $sm) {
          width: 50%;
        }
      }

    }

  }

  .main-col {
    & > div {
      padding: 0 5px;
    }
    p {
      margin: 0 0 10px;
      white-space: nowrap;
      @media screen and (min-width: $sm) {
        font-size: 1.5rem;
      }
    }
  }

  .rw-widget {
    margin-bottom: 5px;
  }


  &.widget-book-reservation {
    p {
      margin: 3px 0;
    }

    h3 {
      color: $white;
      padding: 0 24px;
    }

    .btn {
      line-height: 2.5rem;
    }
    .price {
      font-size: 1.6rem;

      @media screen and (min-width: $sm) {
        font-size: 2.4rem;
      }
    }

    .visited {
      //opacity: .4;
    }

    .col {
      width: 50%;
      min-height: 70px;
      display: inline-block;
      vertical-align: top;
      padding: 0 10px;

      @media screen and (min-width: $sm) {
        width: auto;
        float: left;
        max-width: 180px;
        border-left: 1px solid $white;
      }
    }

    .step-2 {
      .col:first-of-type {
        border-left: 0;
      }
    }

    .options-selected {
      padding: 0;
      list-style: none;
    }
  }

  .modal-footer {
    .btn {
      margin-bottom: 5px;
    }
  }
}

.sidebar .widget-book {
  @media screen and (min-width: $md) {
    position: relative;
  }
  .widget-container {

    @media screen and (min-width: $sm) {
      display: block;
    }

    .col {
      @media screen and (min-width: $sm) {
        display: block;
      }
    }

    .title-container {
      @media screen and (min-width: $sm) {
        width: 100%;
      }
    }
    .reserve-container {
      @media screen and (min-width: $sm) {
        width: 100%;
        padding: 0;
      }
    }
    .location-selectors {
      @media screen and (min-width: $sm) {
        width: 100%;
      }
      .selector {
        @media screen and (min-width: $sm) {
          width: 100%;
        }
      }

    }
  }
}

.modal-footer .btn+.btn {
  margin-bottom: 5px;
}

//.page-internal {
//  .widget-book {
//    position: inherit;
//  }
//  .widget-container {
//
//    @media screen and (min-width: $sm) {
//
//
//      &.fixed {
//        position: fixed;
//        top: 0;
//      }
//
//      &.is-visible {
//        position: inherit;
//      }
//    }
//
//  }
//}
//
//.page-home, .page-internal {
//  .widget-container {
//    @media screen and (min-width: $sm) {
//      &.fixed {
//        position: fixed;
//        top: 0;
//        left: 0;
//        width: 100%;
//        background-color: $green-42;
//        z-index: 2;
//      }
//
//      &.is-visible {
//        position: inherit;
//      }
//    }
//  }
//}