<div style="width: 90%;">
  <div style="text-align: center; color: #42bc51; font-weight: bold;">
    <img style="display: block; margin: 15px auto; width: 200px; height: auto" src="https://toyotarent.com/src/images/trac-logo.png" alt="Toyota Rent - Costa Rica">
    <h1><%= formFields.email_settings.title %></h1>
  </div>
  <div>
    <table>
      <tbody>
        <tr>
          <td><%= formFields.full_name %></td>
          <td><%= form.fullName %></td>
        </tr>
        <tr>
          <td><%= formFields.email %></td>
          <td><%= form.email %></td>
        </tr>
        <tr>
          <td><%= formFields.telephone %></td>
          <td><%= form.telephone %></td>
        </tr>
        <tr>
          <td><%= formFields.ext %></td>
          <td><%= form.ext %></td>
        </tr>
        <tr>
          <td><%= formFields.reserved_through %></td>
          <td><%= form.reservedThrough.text %></td>
        </tr>
        <tr>
          <td><%= formFields.location %></td>
          <td><%= form.location.name %></td>
        </tr>
        <tr>
          <td><%= formFields.rental_agreement_number %></td>
          <td><%= form.rentalAgreementNumber %></td>
        </tr>
        <tr>
          <td><%= formFields.confirmation %></td>
          <td><%= form.confirmation %></td>
        </tr>
        <tr>
          <td><%= formFields.perks_number %></td>
          <td><%= form.perksNumber %></td>
        </tr>
        <tr>
          <td><%= formFields.type_of_issue %></td>
          <td><%= form.typeOfIssue.text %></td>
        </tr>
        <tr>
          <td><%= formFields.subject %></td>
          <td><%= form.subject %></td>
        </tr>
        <tr>
          <td><%= formFields.message %></td>
          <td><%= form.message %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
