<div style="width: 90%;">
  <div style="text-align: center; color: #42bc51; font-weight: bold;">
    <img style="display: block; margin: 15px auto; width: 200px; height: auto" src="https://toyotarent.com/src/images/trac-logo.png" alt="Toyota Rent - Costa Rica">
    <h1><%= formFields.email_settings.title %></h1>
    <h3><%= form.landingName %></h3>
  </div>
  <div>
    <table>
      <tbody>
        <tr>
          <td><%= formFields.full_name %></td>
          <td><%= form.customerFullName %></td>
        </tr>
        <tr>
          <td><%= formFields.email %></td>
          <td><%= form.customerEmail %></td>
        </tr>
        <tr>
          <td><%= formFields.phone_number %></td>
          <td><%= form.customerPhone %></td>
        </tr>
        <%if (form.isTypeCarReserve) { %>
        <tr>
          <td><%= formFields.insurance %></td>
          <td><%= form.insurance %></td>
        </tr>
        <tr>
          <td><%= formFields.driver_licence_number %></td>
          <td><%= form.driverLicenceNumber %></td>
        </tr>
        <% } %>
        <tr>
          <td><%= formFields.start_date %></td>
          <td><%= form.dateFrom %> / <%= form.timeFrom %></td>
        </tr>
        <tr>
          <td><%= formFields.pick_up_location %></td>
          <td><%= form.pickupStationName %></td>
        </tr>
        <tr>
          <td><%= formFields.end_date %></td>
          <td><%= form.dateTo %> / <%= form.timeTo %></td>
        </tr>
        <tr>
          <td><%= formFields.drop_off_location %></td>
          <td><%= form.returnStationName %></td>
        </tr>
        <tr>
          <td><%= formFields.vehicle %></td>
          <td><%= form.vehicle %></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
