<div style="width: 90%;">
  <div style="text-align: center; color: #42bc51; font-weight: bold;">
    <img style="display: block; margin: 15px auto; width: 200px; height: auto" src="https://toyotarent.com/src/images/trac-logo.png" alt="Toyota Rent - Costa Rica">
    <h1><%= formFields.email_settings.title %></h1>
    <h3><%= formFields.quote_no %> : <%= form.refno %> (<%= form.agentCode %>)</h3>
    <p><%= formFields.titleQuote %></p>
  </div>
  <h2 style="color: #42bc51;"><%= formFields.customer_information %></h2>
  <div>
    <table>
      <tbody>
        <tr>
          <td><%= formFields.first_name %></td>
          <td><%= form.customerName %></td>
        </tr>
        <tr>
          <td><%= formFields.last_name %></td>
          <td><%= form.customerLastName %></td>
        </tr>
        <tr>
          <td><%= formFields.phone %></td>
          <td><%= form.customerPhone %></td>
        </tr>
        <tr>
          <td><%= formFields.email %></td>
          <td><%= form.customerEmail %></td>
        </tr>
        <tr>
          <td><%= formFields.country %></td>
          <td><%= form.country.text %></td>
        </tr>
        <tr>
          <td><%= formFields.city %></td>
          <td><%= form.city %></td>
        </tr>
        <tr>
          <td><%= formFields.zip %></td>
          <td><%= form.zipcode %></td>
        </tr>
        <tr>
          <td><%= formFields.address %></td>
          <td><%= form.address %></td>
        </tr>
        <tr>
          <td><%= formFields.airline %></td>
          <td><%= form.airline %></td>
        </tr>
        <tr>
          <td><%= formFields.flight %></td>
          <td><%= form.flight %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <h2 style="color: #42bc51;"><%= formFields.book_details %></h2>
  <div>
    <table>
      <tbody>
      <tr>
        <td><%= formFields.start_date %></td>
        <td><%= form.dateFrom %> / <%= form.timeFrom %></td>
      </tr>
      <tr>
        <td><%= formFields.pick_up_location %></td>
        <td><%= form.pickupStationName %></td>
      </tr>
      <tr>
        <td><%= formFields.end_date %></td>
        <td><%= form.dateTo %> / <%= form.timeTo %></td>
      </tr>
      <tr>
        <td><%= formFields.drop_off_location %></td>
        <td><%= form.returnStationName %></td>
      </tr>
      <tr>
        <td><%= formFields.total_days %></td>
        <td><%= form.duration %></td>
      </tr>
      </tbody>
    </table>
  </div>
  <h2 style="color: #42bc51;"><%= formFields.car_detail %></h2>
  <div>
    <table>
      <tbody>
      <tr>
        <td><%= formFields.model %></td>
        <td><%= form.model %></td>
      </tr>
      <tr>
        <td><%= formFields.baseRate %></td>
        <td>$ <%= form.baserate %></td>
      </tr>
      <tr>
        <td><%= formFields.totalRate %></td>
        <td>$ <%= form.totalrate %></td>
      </tr>
      <tr>
        <td><%= formFields.additionalOptionsList %></td>
        <td><%= form.optionsName %></td>
      </tr>
      </tbody>
    </table>
  </div>
  <h2 style="border-bottom: 1px solid #42bc51; width: 100%; margin-bottom: 50px"></h2>
    <%if (form.noInsurance) { %>
    <%- formFields.no_insurance %>
    <% } %>
    <%- formFields.conditions %>
  <h2 style="border-bottom: 1px solid #e7e7e7; width: 100%; margin: 50px 0"></h2>
    <%- formFields.footer %>
</div>
