/* ==========================================================================
   Blog
   ========================================================================== */
.main-blog {
  .sign-out {
    float: right;
    margin-top: 25px;
  }
  .main-section {
    padding: 100px 0 40px;
    @media screen and (min-width: $sm) {
      padding: 140px 0 100px;
    }
  }

  .blog {
    h2 {
      @media screen and (min-width: $sm) {
        font-size: 3rem;
        margin-bottom: 10px;
      }
      a {
        color: $green-42;
      }
    }
    .lead {
      display: none;
    }

    .post {
      margin: 60px 0;
      // border-top: 4px solid $green-42;

      &:first-of-type {
        border: 0;
      }
    }
  }

  .read-more a{
    color: $white;
  }

  .category-list {
    .active {
      background-color: $green-42;
    }
  }

  .pagination {
    .disabled  a {
      background-color: $gray-f1;
      .glyphicon {
        color: $gray-58;
      }
    }

    a {
      background-color: lighten($green-42, 20%);

    }

    .active a {
      background-color: $green-42;
    }

    .glyphicon {
      color: $green-42;
    }
  }
}