/* ==========================================================================
   Forms
   ========================================================================== */
.wpforms-container.wpforms-container-full .wpforms-form  {
  text-align: left;

  .wpforms-submit-container {
    text-align: center;
  }

  .wpforms-error {
    border-width: 2px;

    &label {
      display: none;
    }
  }


  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-transform: none;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    text-transform: none;
  }
  :-ms-input-placeholder { /* IE 10+ */
    text-transform: none;
  }
  :-moz-placeholder { /* Firefox 18- */
    text-transform: none;
  }

}
