/* ==========================================================================
   Border-box all the things!
   ========================================================================== */

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  &::-moz-focus-inner {
    border: 0;
  }
}
a:focus,input:focus,textarea:focus {outline:none;}
::-moz-focus-inner {border:0;}

::-webkit-input-placeholder {
  color: $placeholder;


}

:-moz-placeholder { /* Firefox 18- */
  color: $placeholder;

}

::-moz-placeholder {  /* Firefox 19+ */
  color: $placeholder;

}

:-ms-input-placeholder {
  color: $placeholder;

}
/* ==========================================================================
   General
   ========================================================================== */

body {
  color: $text;
  @include fontFamily($uniformRegular);
  overflow-x: hidden;
}


/* ==========================================================================
   Links
   ========================================================================== */

a,
a:visited,
a:focus{
  color: $link-color;
  text-decoration: none;
}
a:hover {
  color: $link-hover-color;
  text-decoration: none;
  cursor: pointer;
}


button {
  &:active, &:focus {
    outline: none;
    border: none;
  }
}
/* ==========================================================================
   Images
   ========================================================================== */

img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
  display: block;
}


/* ==========================================================================
   Typography
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: normal;
  margin: 0;
}
h1 { }
h2 { }
h3 { }
h4 { }

.section-title {
  color: $green-42;
  font-size: 3rem;
  font-family: 'UniformBold', sans-serif;
  text-align: center;
  margin-bottom: 20px;

  &.small{
    font-size: 2rem;
  }

  @media screen and (min-width: $sm) {
    font-size: 6rem;
    margin-bottom: 40px;
    &.small{
      font-size: 3.5rem;
    }    
  }
}

p {
  margin-bottom: 1.5em;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

section {
  padding: 0 0 40px;

  @media screen and (min-width: $sm) {
    padding: 40px 0;
  }

}

hr {
  background-color: $green-42;
  border: 0;
  height: 4px;
  margin: 1em 0;

  @media screen and (min-width: $sm) {
    margin: 4em 0;
  }
}

hr + section {
  @media screen and (min-width: $sm) {
    padding-top: 20px;
  }
}

strong {
  @include fontFamily('UniformBold');
}

/* ==========================================================================
   Layout
   ========================================================================== */
.site-content {
  padding-bottom: 60px;
}

.page-main-content {
  h1 {
    margin-bottom: 20px;
    color: $green-42;
    @include fontFamily($uniformBold);
    text-align: center;
    font-size: 4rem;

    @media screen and (min-width: $sm) {
      font-size: 5rem;
    }
  }

  h2 {
    @include fontFamily($uniformRegular);
    font-size: 2rem!important;

    @media screen and (min-width: $sm) {
      font-size: 3rem!important;
      margin: 30px 0!important;
    }
  }
}

.main-content {
  position: relative;
  z-index: 0;
}
nav {
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      display: inline-block;
    }
  }
}

section{

}

[data-goto]{
  cursor: pointer;
}

a.read-more, input[type="submit"]{
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  color: $link;
  padding: 15px 30px;
  display: inline-block;
  border-radius: 10px;

  &:hover{
    box-shadow: 0 0 4px rgba(0,0,0,.6);
  }

}

.btn {
  display: inline-block;
  width: 100%;
  padding: 8px 10px;
  background-color: $red-ee;
  border: 0;
  font-family: 'UniformBold', sans-serif;
  text-align: center;
  margin: 0;
  transition: background-color .25s;
  border-radius: 0;

  &, &:hover, &:visited {
    color: $white;
  }

  &.revert {
    background-color: transparent;
    border: 1px solid $red-ee;
    color: $red-ee;

    &:hover {
      background-color: $red-ee;
      color: $white;
    }
  }


  &:hover {
    background-color: darken($red-ee, 13%);
  }

  &.secondary {
    background-color: $green-42;
    &:hover {
      background-color: darken($green-42, 13%);
    }
  }

  &.small {
    @media screen and (min-width: $sm) {
      width: auto;
      min-width: 180px;
    }

  }

  &.lg {
    @media screen and (min-width: $sm) {
      font-size: 2.9rem;
      min-width: 365px;
      width: auto;
    }
  }

  &.md {
    font-size: 2rem;
  }

  &.full {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }

  &-link {
    font-size: 1.6rem;
    background-color: transparent;
    color: $gray-58;
    &:hover {
      color: $black;
      text-decoration: underline;
      background-color: transparent;
    }
  }

  &:focus {
    outline: none;
  }
}

.btn-green{
  font-weight: normal;
  background-color: $greenLight;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  &:hover{
    background-color: $greenActive;
  }
}

.btn-small-green{
  width: 60% !important;
  margin: 0 auto;
  position: relative;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.fa-info-circle {
  color: $gray-58;

  &:before {
    margin-left: 1px;
  }
}

.alert-dismissable {
  .close {
    margin-bottom: -22px;
  }
}

.alert {
  .ui-pnotify-icon,
  .ui-pnotify-title
  {
    float: none;
    display: inline-block;
    vertical-align: top;
  }
  .ui-pnotify-title {
    width: 90%;
  }
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

.popover-info {
  font-size: 1.2rem;
}
.car-header {
  color: $gray-58;
  .title {
    @include fontFamily($uniformBold);
    font-size: 2.5rem;
    margin-bottom: 0;
  }
  .sub-title {
    @include fontFamily($uniformMedium);
    text-transform: uppercase;
    font-size: 1.2rem
  }
}

.eco {
  position: relative;
  display: inline-block;
  &:after {
    content: '';
    width: 30px;
    height: 30px;
    background: url(#{$imgPath}icons/recicle.svg) no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }

}

.modal-footer {
  padding: 10px;

  @media screen and (min-width: $sm) {
    padding: 20px;
  }

  .btn+.btn {
    margin-left: 0;
    @media screen and (min-width: $sm) {
      margin-left: 5px;
    }
  }
}

.important {
  color: $red-ee;
}

//Menu
.navbar-nav .open .dropdown-menu {
  background-color: $green-42;

  @media screen and (min-width: $sm) {
    background-color: $white;
  }

  li {
    a:hover {
      color: $red-ee;
    }
  }
}

//Book btn main
.btn-book {
  position: fixed;
  bottom: 0;
  width: 100%;
  right: 0;
  background: $green-42;
  color: $white;
  @include fontFamily($uniformBold);
  font-size: 1.6rem;
  border: 0;
  text-transform: uppercase;
  transition: bottom .3s ease-in-out;
  &:hover {
    background: $red-ee;
  }

  @media screen and (min-width: $sm) {
    display: none!important;
    position: absolute;
    bottom: auto;
    top: 154px;
    width: 200px;
    left: 0;

    &.fixed {
      position: fixed;
      top: 0;
    }
  }

  &.hide-btn {
    bottom: -100%;

    @media screen and (min-width: $sm) {
      top: -100%;
      bottom: auto;
    }
  }
}

//Main wrapper
.main-wrapper {
  &.book-sidebar-open {
    &:before {
      content: 'x';
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 11px;
      right: 265px;
      z-index: 2;
      font-size: 4rem;
      color: $black;
      @include fontFamily($uniformBold);
    }
  }
}

.link {
  color: $green-42;
  text-decoration: none;
  background: transparent;
  width: auto;
  &:hover {
    color: $green-42;
    text-decoration: underline;
    background: none;
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background: rgba(0,0,0,.7) url(#{$imgPath}loader.svg) center no-repeat;
}