/* ==========================================================================
   Header
   ========================================================================== */
// .main-header {
//   position: absolute;
//   width: 100%;
//   top: 0;
//   left: 0;
//   z-index: 2;
//   padding: 18px 0;

//   @media screen and (min-width: $sm) {
//     border-bottom: 5px solid $green-42;
//   }

//   .logo-trac {
//     list-style: none;
//     position: relative;
//     z-index: 4;
//   }

//   .logo-trac a {
//     width: 134px;
//     height: 51px;
//     overflow: hidden;
//     text-indent: -9999999px;
//     display: block;
//     background: url(#{$imgPath}trac-logo.svg) bottom;
//     background-size: 100% auto;

//     @media screen and (min-width: $sm) {
//       width: 167px;
//       height: 64px;
//     }

//     &.in-color {
//       background-position: bottom;
//     }
//   }

//   //Lang
//   .lang-selector {
//     position: fixed;
//     z-index: 3;
//     top: 10px;
//     right: 60px;
//     padding: 5px 10px;
//     @include fontFamily($uniformBold);
//     color: $gray-58;
//     button {
//       background: none;
//       border: 0;
//       padding: 0;
//       color: $gray-58;
//       &.active {
//         color: $red-ee;
//       }
//     }
//   }

//   //Reset
//   .main-menu {

//     a {
//       color: $white;
//       @include fontFamily($uniformBold);
//       text-transform: uppercase;
//     }

//     & > a {
//       padding: 10px 10px;
//     }

//     .open > a, a:hover, a:focus {
//       color: $red-ee;
//       background-color: transparent;
//     }

//     .dropdown-menu li {
//       width: 100%;

//       a {
//         color: $green-42;
//         text-transform: none;
//       }
//     }
//     .container-fluid {
//       padding: 20px 0 0;
//     }
//   }


//   &.isMenuOpen {
//     //background-color: rgba(255, 255, 255, .8);
//     //z-index: 2;
//     //border-bottom: 0;
//     //.logo-trac a {
//     //  background-position: bottom;
//     //}
//     .lang-selector {
//       color: $white;
//       button {
//         color: $white;
//         &.active {
//           color: $red-ee;
//         }
//       }
//     }

//     .navbar {
//       display: block;
//     }
//   }

//   .menu-icon {
//     border: 0;
//     margin: 0;
//     background: transparent;
//     width: auto;
//     font-size: 3rem;
//     color: $red-ee;
//     position: fixed;
//     z-index: 3;
//     right: 10px;
//     top: -3px;

//     &:hover {
//       background: transparent;
//       color: $red-ee;
//     }
//     &:focus {
//       outline: none;
//     }
//   }
// }

// //Slide Menu
.bm-menu-wrap {
  background-color: $green-42;
  top: 0;
  padding-top: 100px;
  box-shadow: inset 7px 1px 10px rgba(0,0,0,0.2);
  a{
    color: #fff !important;
    font-size: 15px;
    &:hover{
      color: $red-ee !important;
    }
  }
}

// .callPhone{
//   margin-top: 5px;
//   padding: 10px 15px;
//   font-size: 12px;
//   color: white;
//   background: $red-ee;
//   border-radius: 0px 200px 200px 0px;
//   -moz-border-radius: 0px 200px 200px 0px;
//   -webkit-border-radius: 0px 200px 200px 0px;
//   position: relative;
//   left: -15px;
//   text-align: left;
//   display: inline-flex;
//   justify-content: center;
//   &:hover{
//     color: white !important;
//     background: #d8131a;
//   }
//   strong{
//     margin-left: 10px;
//   }

//   @media screen and (min-width: $sm) {
//     margin-top: 10px;
//     padding: 10px 30px;
//     font-size: 16px;
//   }
// }


/* ==========================================================================
Header New
========================================================================== */
#main-wrap{
  padding-top: 60px;
}

header{
  padding: 10px 0;
  border-bottom: 2px solid rgba($greenLight, .9);
  position: fixed;
  width: 100%;
  z-index: 2;
  .container{
    position: relative;
    &:after{
      position: absolute;
      content: url(#{$imgPath}bandera.jpg);
      bottom: -19px;
      left: 15px;
      z-index: 2;
    }
  }
}

// //Reset
// .main-menu {

//   a {
//     color: $white;
//     @include fontFamily($uniformBold);
//     text-transform: uppercase;
//   }

//   & > a {
//     padding: 10px 10px;
//   }

//   .open > a, a:hover, a:focus {
//     color: $red-ee;
//     background-color: transparent;
//   }

//   .dropdown-menu li {
//     width: 100%;

//     a {
//       color: $green-42;
//       text-transform: none;
//     }
//   }
//   .container-fluid {
//     padding: 20px 0 0;
//   }
// }

.menu-items{
  list-style: none;
  padding: 0;
  margin: 0;
  a{
    font-size: 15px;
    color: $greenLight !important;
    &:hover{
      color: $red-ee !important;
    }
  }
  button{
    border: 1px solid #455b64;
    background: transparent;
    color: $greenLight;
    &.active{
      color: #121f24;
      background-color: $greenLight;
    }
  }
}

.logo-trac {
  list-style: none;
  position: relative;
  z-index: 4;
}

.logo-trac a {
  width: 134px;
  height: 51px;
  overflow: hidden;
  text-indent: -9999999px;
  display: block;
  background: url(#{$imgPath}trac-logo-new.svg);
  background-size: 100% auto;

  @media screen and (min-width: $sm) {
    width: 167px;
    height: 64px;
  }
}

.menu-icon {
  border: 0;
  margin: 0;
  background: transparent !important;
  width: auto !important;
  font-size: 2.5rem;
  color: #ee3f45 !important;
  position: relative;
  z-index: 3;
  /* right: 10px; */
  /* top: -3px; */
  
  &:hover {
    background: transparent;
    color: $red-ee;
  }
  &:focus {
    outline: none;
  }
}