.special-offers {
  h4 {
    @include fontFamily($uniformBold);
    color: $red-ee;
    margin-bottom: 20px;
    font-size: 2rem;
  }

  .description {
    padding: 20px 0;
  }

  a {
    color: $green-42;

    &:hover {
      text-decoration: underline;
    }
  }
}