.cars {
  font-family: 'UniformRegular', sans-serif;
  padding-top: 0;

  @media screen and (min-width: $sm) {
    padding-top: 50px;
  }

  .list-type {
    .item-type {
      padding: 20px 0;
    }
  }

  hr {
    margin: 0;
  }

  .car-category {
    padding: 60px 0 0;

    &:first-child {
      padding-top: 0;
    }

    @media screen and (min-width: $sm) {
      padding: 40px 0 0;
    }
    
    h2 {
      @media screen and (min-width: $sm) {
        margin-bottom: 10px;
      }
    }
  }

  .thumbnail {
    .car-header {
      .title {
        font-size: 2rem;
      }
      .sub-title {
        display: inline-block;
        padding: 3px 10px 1px;
        @include fontFamily($uniformBold);
        background-color: $green-42;
        color: $white;
      }
    }
    button {
      font-size: 1.2rem;
    }
  }

}