/* ==========================================================================
   Home Page Template
   ========================================================================== */

.page-home {
  .main-header {
    border-bottom: 0;
    .logo-trac a {
      background-position: top;
    }
  }

  .main-banner {
    position: relative;
    z-index: 1;
  }

  .btn-book {
    display:none;

    &.fixed{
      display: block;
      z-index: 2;
    }
  }
}
