.customer-care {
  .instructions {
    text-align: center;
    @include fontFamily($uniformRegular);
    font-size: 2rem;

    @media screen and (min-width: $sm) {
      font-size: 2.5rem;
    }

    p {
      margin-bottom: 5px;
    }
    .phone {
      color: $green-42;
    }
  }
}