.locations {
  .cr-map {
    width: 100%;
    height: auto;

    path.pv {
      &:hover {
        fill: #b8e8be;
        cursor: pointer;
      }

      &.active {
        fill: #69cc75;
      }
    }

    g.pv {
      path:hover {
        fill: #b8e8be;
        cursor: pointer;
      }

      &.active path {
        fill: #69cc75;
      }
    }

  }

  .btn-show-all-locations {
    margin-bottom: 20px;
  }

  .call-number {
    @include fontFamily($uniformRegular);
    font-size: 1.8rem;
    color: $green-42;
    @media screen and (min-width: $sm) {
      font-size: 2.4rem;
    }
  }

  &.filter-active {
    .location-info {
      @media screen and (min-width: $sm) {
        max-height: 100%;
        overflow: inherit;

        &:after {
          display: none;
        }
      }

      & > div {
        display: none;
        padding-bottom: 20px;
        &.active {
          display: block;
        }
      }
    }
  }

  .location-info {
    @include fontFamily($uniformRegular);

    @media screen and (min-width: $sm) {
      max-height: 430px;
      overflow: auto;

      &:after {
        content: "";
        width: 100%;
        height: 30px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

      }
    }

    .location-name {
      font-size: 2.5rem;

      @media screen and (min-width: $sm) {
        font-size: 3rem;
      }
    }

    .btn-container {
      padding: 10px 0;

      .btn {
        margin: 10px 0;
        @media screen and (min-width: $sm) {
          width: 46%;
          margin: 0;
          &:first-of-type {
            margin: 0 4% 0 0;
          }
        }

      }
    }

    p {
      margin-bottom: 0;
    }

    span {
      color: $red-ee;
    }
  }
}