.products-services {
  h2 {
    @include fontFamily($uniformMedium);
    color: $red-ee;
  }
  .sub-title {
    position: relative;
    text-align: left;
    margin-bottom: 30px;
    @include fontFamily($uniformMedium);
    // @media screen and (min-width: $sm) {

      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 100px;
        height: 100px;
        background-color: $green-42;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50% auto;
        margin-right: 20px;
        border-radius: 50%;
      }
    // }

    @media screen and (min-width: $md) {
      margin-bottom: 0;
    }

    &.fast-lane:before {
      background-image: url(#{$imgPath}icons/fast-lane.svg);
    }
    &.chauffeur-services:before {
      background-image: url(#{$imgPath}icons/chauffeur-services.svg);
    }
    &.hourly-car-rental:before {
      background-image: url(#{$imgPath}icons/hourly-car-rental.svg);
    }
    &.prepaid-fuel:before {
      background-image: url(#{$imgPath}icons/prepaid-fuel.svg);
    }
    &.wedding-services:before {
      background-image: url(#{$imgPath}icons/wedding-services.svg);
    }
    &.kids-and-baby-seats:before {
      background-image: url(#{$imgPath}icons/kids-and-baby-seats.svg);
    }
    &.mobile-hotspot:before {
      background-image: url(#{$imgPath}icons/mobile-hotspot.svg);
    }
    &.gps-global-positioning-system:before {
      background-image: url(#{$imgPath}icons/gps-global-positioning-system.svg);
    }
    &.roof-racks:before {
      background-image: url(#{$imgPath}icons/roof-racks.svg);
    }
    &.toll-pass:before {
      background-image: url(#{$imgPath}icons/toll-pass.svg);
    }
    &.easy-connect:before {
      background-image: url(#{$imgPath}icons/easy-connect.svg);
      background-size: 35% auto;
    }    
  }

  .list-type .row{
    & > div {
      margin-bottom: 30px;

      &:nth-child(odd) {
        clear: left;
      }

    }

    .info {
      @media screen and (min-width: $md) {
        padding-left: 120px;
      }
    }
  }

  #services hr {
    display: none;
  }
}