.faq {
  .panel-group {
    .panel-default, .panel-default > .panel-heading {
      border-color: $gray-dd;
      color: $gray-58;
      background-color: $white;
    }

    .panel-heading {
      padding: 0;

      a {
        padding: 10px 15px;
        display: block;
      }
    }
  }
}