.page-internal .landing {
  .main-section {
    background-size: cover;
    background-position: center bottom;
    margin-top: 85px;
    @media screen and (min-width: $sm) {
      margin-top: 100px;
      min-height: 100vh;
    }
  }

  // Landing
  // - Iron Man
  &.iron-man {
    .main-section {
    background-image: url(#{$imgPath}landings/iron-man/banner.jpg);
    }

    h3 {
      color: $white;
    }
  }

  // - Promo 7x5
  &.promo-7x5,
  &.promo{
    .main-section {
      background-image: url(#{$imgPath}landings/promo-7x5/banner.png);
    }
    .box-title {
      padding: 15px;
      background-color: rgba(100, 219, 121, 0.6);
      color: $white;
      text-align: center;
      .title,
      .sub-title {
        margin-bottom: 0;
      }
      .title {
        font-size: 13rem;
        line-height: 0.9em;
        @include fontFamily($uniformBold);
      }
      .sub-title {
        font-size: 2.5rem;
        @include fontFamily($uniformMedium);
      }
    }
  }

  &.promo {
    .box-title .title {
      color: $red-ee;
    }
  }

  // Envision
  &.envision,
  &.jungleJam,
  &.promo{
    .main-section {
      background-image: url(#{$imgPath}landings/envision/banner.jpg);
    }
    figure {
      padding: 15px;
      background-color: rgba(255, 255, 255, 0.6);
    }

    h4 {
      @include fontFamily($uniformBold);
      color: $white;
    }

    .title {
      @include fontFamily($uniformUltra);
      color: $green-42;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
      font-size: 6rem;
      text-transform: uppercase;
    }

    .table-header-wrapper {
      thead {
        background-color: $green-42;
        color: $white;
      }
    }

    .table-footer {
      color: $green-42;
    }

    .react-bs-table {
      overflow: auto;
      font-size: 1.2rem;
      @media screen and (max-width: '980px') {
        position: relative;

        &:after {
          width: 30px;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          content: '';
          background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
        }
      }

      &-container {
        min-width: 760px;
      }
    }

    .legend {
      font-style: italic;
      padding: 15px;
      color: $white;
      margin-top: 30px;
      @include fontFamily($uniformMedium);
    }
  }

  // Jungle Jam
  &.jungleJam,
  &.promo{
    .main-section {
      background-image: url(#{$imgPath}landings/jungle-jam/banner.png);
    }
    figure {
      padding: 15px;
      background-color: rgba(100, 219, 121, 0.6);
    }
  }

  //Bego
  &.promo-bego{
    .main-section {
      background-image: url(#{$imgPath}landings/promo-bego/banner.jpg);
    }
    .box-title {
      padding: 15px;
      background-color: rgba(255, 255, 255, 0.6);
      color: $white;
      text-align: center;
      .title,
      .sub-title {
        margin-bottom: 0;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
      }
      .title {
        color: rgb(238, 63, 69);
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
        font-size: 10rem;
        line-height: 0.9em;
        @include fontFamily($uniformBold);
      }
      .sub-title {
        color: black;
        font-size: 4rem;
        font-weight: bold;
      }
      .restriction_apply {
        color: black;
        font-size: 1.5rem;
        @include fontFamily($uniformMedium);
      }
    }
  }

  //Black bego
  &.promo-blackBego{
    .main-section {
      background-image: url(#{$imgPath}landings/bego-black/portada.jpg);
    }
    .box-title {
      padding: 15px;
      background-color: rgba(255, 255, 255, 0.6);
      color: $white;
      text-align: center;
      .title,
      .sub-title {
        margin-bottom: 0;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
      }
      .title {
        color: rgb(238, 63, 69);
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
        font-size: 10rem;
        line-height: 0.9em;
        @include fontFamily($uniformBold);
      }
      .sub-title {
        color: black;
        font-size: 4rem;
        font-weight: bold;
      }
      .restriction_apply {
        color: black;
        font-size: 1.5rem;
        @include fontFamily($uniformMedium);
      }
      .btn.btn-default{
        background-color: $black;
      }      
    }
  }  

  //Yaris bego
  &.promo-blackYaris{
    .main-section {
      background-image: url(#{$imgPath}landings/yaris-black/portada.jpg);
    }
    .box-title {
      padding: 15px;
      background-color: rgba(255, 255, 255, 0.6);
      color: $white;
      text-align: center;
      .title,
      .sub-title {
        margin-bottom: 0;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
      }
      .title {
        color: rgb(238, 63, 69);
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
        font-size: 10rem;
        line-height: 0.9em;
        @include fontFamily($uniformBold);
      }
      .sub-title {
        color: black;
        font-size: 4rem;
        font-weight: bold;
      }
      .restriction_apply {
        color: black;
        font-size: 1.5rem;
        @include fontFamily($uniformMedium);
      }
      .btn.btn-default{
        background-color: $black;
      }
    }
  }  
  
  &.promo-hiaci{
    .main-section {
      background-image: url(#{$imgPath}slider/buseta.jpg);
    }
    .box-title {
      padding: 15px;
      background-color: rgba(255, 255, 255, 0.6);
      color: $white;
      text-align: center;
      .title,
      .sub-title {
        margin-bottom: 0;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
      }
      .title {
        color: rgb(238, 63, 69);
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
        font-size: 10rem;
        line-height: 0.9em;
        @include fontFamily($uniformBold);
      }
      .sub-title {
        color: black;
        font-size: 4rem;
        font-weight: bold;
      }
      .restriction_apply {
        color: black;
        font-size: 1.5rem;
        @include fontFamily($uniformMedium);
      }
    }
  }  

  //Bego
  &.promo-santasPromociones{
    .box-title {
      padding: 15px;
      background-color: rgba(255, 255, 255, 0.6);
      color: $white;
      text-align: center;
      .content{
        text-align: left;
        color: $black;
        font-size: 2rem;
      }
      .title{
        font-size: 6rem;
        text-transform: uppercase;
      }
      .title,
      .sub-title {
        margin-bottom: 0;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
      }
      .title {
        color: rgb(238, 63, 69);
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
        font-size: 5rem;
        line-height: 0.9em;
        margin-bottom: 10px;
        @include fontFamily($uniformBold);
      }
      .sub-title {
        color: black;
        font-size: 4rem;
        font-weight: bold;
      }
      .restriction_apply {
        color: black;
        font-size: 1.5rem;
        @include fontFamily($uniformMedium);
      }
    }
  }  
}

.glyphicon-ok-sign {
  font-size: 3rem;
  color: $green-42;
  vertical-align: middle;
  margin: 0 5px;
}
