.car-selected .car-card{
  border-color: $green-42;
  box-shadow: 0 0 10px rgba(0,0,0,.4);
  .btn {
    background-color: $green-42;
  }
}

.car-card {
  border: 1px solid $gray-58;
  padding: 10px;
  position: relative;
  text-align: center;
  color: $gray-58;
  margin-bottom: 20px;


  figure {
    position: relative;

    @media screen and (min-width: $sm) {
      min-height: 135px;
    }
    .car-thumbnail {
      margin: auto;
    }
  }

  &.is-eco, .is-eco {
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -20px;
      right: -20px;
      width: 46px;
      height: 46px;
      background: url(#{$imgPath}icons/recicle.svg) no-repeat;
      background-size: 100%;
    }
  }

  .specs {
    padding: 10px 0;

    .spec-list {
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        list-style: none;
        font-size: 1.1rem;
        &:before {
          content: '';
          display: inline-block;
          vertical-align: middle;
          width: 18px;
          height: 18px;
          margin: 0 5px;
          background-image: url(#{$imgPath}icons/car-specs.png);
          background-repeat: no-repeat;
          background-position: center top;
          background-size: 100% auto;
        }

        &.motor:before {
          background-position: 0 0;
        }
        &.doors:before {
          background-position: 0 -18px;
        }
        &.fuel:before {
          background-position: 0 -54px;
        }
        &.transmission:before {
          background-position: 0 -72px;
        }
        &.seats:before {
          background-position: 0 -90px;
        }
        &.large_bag:before {
          background-position: 0 -108px;
        }
        &.small_bag:before {
          background-position: 0 -126px;
        }


      }
    }
  }

  .rate {
    .total-rate {
      color: $red-ee;
      margin-bottom: 0;
      font-size: 2.8rem;
      @include fontFamily($uniformBold);
      line-height: 2.8rem;
    }

  }

}

//Step 3
.book-steps.step-3 {
  .car-card {
    border: 0;
  }

  .list-options {
    margin: 0;
    padding: 0 0 30px 0;

    @media screen and (min-width: $sm) {
      padding-bottom: 0;
    }

    li {
      display: inline-block;
      list-style: none;
      width: 100%;
      vertical-align: top;
      position: relative;

      @media screen and (min-width: 500px) {
        width: 50%;
      }

      .checkbox:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 35px;
        height: 35px;
        margin-right: 10px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% auto;
      }

      &.I003 .checkbox:before{
        background-image: url(#{$imgPath}icons/additional-driver.svg);
      }
      &.K001 .checkbox:before{
        background-image: url(#{$imgPath}icons/booster-seat.svg);
      }
      &.K002 .checkbox:before{
        background-image: url(#{$imgPath}icons/gps.svg);
      }
      &.H004 .checkbox:before{
        background-image: url(#{$imgPath}icons/gps.svg);
      }      
      &.K004 .checkbox:before{
        background-image: url(#{$imgPath}icons/quick-pass.svg);
      }
      &.K005 .checkbox:before{
        background-image: url(#{$imgPath}icons/roof-racks-g.svg);
      }
      &.K007 .checkbox:before{
        background-image: url(#{$imgPath}icons/mobile-hot-spot.svg);
      }
      &.K008 .checkbox:before{
        background-image: url(#{$imgPath}icons/child-car-seat.svg);
      }
      &.E001 .checkbox:before{
        background-image: url(#{$imgPath}icons/insurance.svg);
      }
      &.I004 .checkbox:before{
        background-image: url(#{$imgPath}icons/fast.svg);
      }      
      &.I006 .checkbox:before{
        background-image: url(#{$imgPath}icons/fast.svg);
      }        
    }
  }
}

.progressbar {
  margin: 0 auto;
  padding: 25px 0 0;
  counter-reset: step;
  max-width: 900px;
  overflow: hidden;
  @media screen and (min-width: $sm) {
    padding-top: 30px;
    margin-bottom: 30px;
  }

  li {
    list-style-type: none;
    width: 25%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: $gray-dd;

    span {
      color: $green-42;
      display: block;
      margin: auto;
      width: 80%;
      font-size: 1.0rem;

      @media screen and (min-width: $sm) {
        width: 100%;
        font-size: 1.2rem;
      }
    }

    &:before {
      width: 30px;
      height: 30px;
      content: counter(step);
      counter-increment: step;
      line-height: 27px;
      border: 2px solid $gray-dd;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      background-color: white;
    }

    &:after {
      width: 100%;
      height: 2px;
      content: '';
      position: absolute;
      background-color: $gray-dd;
      top: 15px;
      left: -50%;
      z-index: -1;
    }

    &:first-child:after {
      content: none;
    }

    &.done {
      color: $white;

      &:before {
        border-color: $green-42;
        background: $green-42;
      }

      & + li:after {
        background-color: $green-42;
      }
    }

    &.current {
      color: $green-42;
      &:before {
        border-color: $green-42;
      }
    }

  }
}

.price-mount {
  font-size: 3rem;
  @include fontFamily($uniformBold);
}

.pay-now-save {
  text-align: center;
  color: $green-42;
  @include fontFamily($uniformBold);

  h3 {
    text-align: left;
    @include fontFamily($uniformRegular);
    color: $green-42;
    font-size: 5rem;
    margin-bottom: 20px
  }

  .text-c {
    font-size: 4em;
    margin: 20px 0;
    display: block;

    @media screen and (min-width: $sm) {
      margin: 1.6em 0 0;
    }
  }
  .green-box {
    background: $green-42;
    color: $white;
    padding: 20px;
    font-size: 2em;
    line-height: 1em;
    span {
      display: block;
      margin: 5px 0;
    }

    .legend {
      height: auto;

      @media screen and (min-width: $sm) {
        height: 190px;
      }
    }
    .text-b {
      @include fontFamily($uniformUltra);
      font-size: 6rem;
      line-height: 1em;
    }

    .text-pt {
      padding: 30px 0;
      @media screen and (min-width: $sm) {
        padding: 40px 0 0
      }

      @media screen and (min-width: $md) {
        padding: 70px 0 0
      }

    }



    .text-l1 {
      @include fontFamily($uniformRegular);
      font-size: 2em;
      line-height: 1em;
    }
    .text-l2, .text-l3 {
      line-height: 1em;
    }
    .text-l2 {
      @include fontFamily($uniformUltra);
      font-size: 1.7em;

      @media screen and (min-width: $sm) {
        font-size: 2em;
      }
    }
    .text-l3 {
      font-size: 1.5em;
    }
  }
}
.payment-info {
  display: none;
}
.exp-date {
  .exp-el {
    display: inline-block;
    vertical-align: middle;
  }
  & > span {
    width: 20px;
    text-align: center;
  }
  .rw-dropdownlist {
    min-width: 132px;
  }
}