/* ==========================================================================
   Helper classes
   ========================================================================== */
.clearfix{
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  &:after {
    clear: both;
  }
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Margin 
 */

.mb-none{
    margin-bottom: 0 !important;
}

/*
* Colors
*/
.c-green{
    color: $green-42 !important;
}

/*
 * Position
 */
.pR{
    position: relative;
}

.pA{
    position: absolute;
}

.align-X-Y{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.w-100{
    width: 100%;
}

/*
* Backgrounds
*/
.bg-green{
    background-color: $greenDark;
}

/*
* Paddings
*/
.p-0{
    padding-right: 0 !important;
    padding-left: 0 !important;
}
/*
* Paddings
*/
.m-0{
    margin: 0 !important;
}