/* ==========================================================================
   Variables
   ========================================================================== */

// Fonts
//$openSansLight: 'OpenSansLight';

$fontBase: 'sans-serif';

  // Root Assets
//$imgPath : '../../src/images/';
$imgPath: 'https://s3-us-west-2.amazonaws.com/toyotarent/';
$fontPath : '../fonts/';

//Font name
$roboto : 'Roboto', sans-serif;
$uniformMedium: $roboto;
$uniformBold: $roboto;
$uniformRegular: $roboto;
$uniformUltra: $roboto;

// $uniformMedium: 'UniformMedium';
// $uniformBold: 'UniformBold';
// $uniformRegular: 'UniformRegular';
// $uniformUltra: 'UniformUltra';


// Text Selection
$selectionColor: #e7e7e7;

//BP's
$xs: 500px;
$sm : 768px;
$md : 992px;
$lg : 1000px;
$xl : 1500px;

$link: #000;
$text: #000;
// Colors
$black: #000;
$white: #fff;

$red-ee: #ee3f45;
$green-42: #42bc51;
$gray-dd: #ddd;
$gray-58: #58595b;
$gray-33: #333;
$gray-f1: #f1f2f2;
$greenDark: #24363d;
$gray: #90a4ae;
$greenLight: #4caf50;
$greenActive: #1b5e20;


$placeholder: $green-42;
// Links
$link-color: $link;
$link-hover-color: darken($link, 15%);


$btn-color: #fff;
$btn-hover-color: #fff;
$btn-bg-color: #000;
$btn-hover-bg-color: darken($btn-bg-color, 15%);

//Components
$sidr-text: #000;
$sidr-font: $fontBase;
$sidr-link-active: #000;
$sidr-border-line: transparent;

$slick-dots-bg: #fff;
$slick-dots-active-bg: #e7e7e7;
$slick-content-btn: #e7e7e7;
$slick-content-btn-hover: darken($slick-content-btn, 15%);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
