@font-face {
  font-family: 'UniformMedium';
  src: url('#{$fontPath}UniformMedium.eot');
  src: url('#{$fontPath}UniformMedium.eot') format('embedded-opentype'),
  url('#{$fontPath}UniformMedium.woff2') format('woff2'),
  url('#{$fontPath}UniformMedium.woff') format('woff'),
  url('#{$fontPath}UniformMedium.ttf') format('truetype'),
  url('#{$fontPath}UniformMedium.svg#UniformMedium') format('svg');
}

@font-face {
  font-family: 'UniformBold';
  src: url('#{$fontPath}UniformBold.eot');
  src: url('#{$fontPath}UniformBold.eot') format('embedded-opentype'),
  url('#{$fontPath}UniformBold.woff2') format('woff2'),
  url('#{$fontPath}UniformBold.woff') format('woff'),
  url('#{$fontPath}UniformBold.ttf') format('truetype'),
  url('#{$fontPath}UniformBold.svg#UniformBold') format('svg');
}

@font-face {
  font-family: 'UniformRegular';
  src: url('#{$fontPath}UniformRegular.eot');
  src: url('#{$fontPath}UniformRegular.eot') format('embedded-opentype'),
  url('#{$fontPath}UniformRegular.woff2') format('woff2'),
  url('#{$fontPath}UniformRegular.woff') format('woff'),
  url('#{$fontPath}UniformRegular.ttf') format('truetype'),
  url('#{$fontPath}UniformRegular.svg#UniformRegular') format('svg');
}

@font-face {
  font-family: 'UniformUltra';
  src: url('#{$fontPath}UniformUltra.eot');
  src: url('#{$fontPath}UniformUltra.eot') format('embedded-opentype'),
  url('#{$fontPath}UniformUltra.woff2') format('woff2'),
  url('#{$fontPath}UniformUltra.woff') format('woff'),
  url('#{$fontPath}UniformUltra.ttf') format('truetype'),
  url('#{$fontPath}UniformUltra.svg#UniformUltra') format('svg');
}
